<div class="box">
  <h2>App.net requires one of these, so...</h2>
  <p>
    I respect your privacy and that you're logging into my app as my guest. As I wouldn't catalog and sell the data of people who come to my house, I will not do the same with data about you.
  </p>
  <p>
    I make use of Google Analytics to keep track of useful data such as what browsers people are coming from. This data is not sold, but may be used by Google as detailed in their own privacy policy, and I may offer statistics openly such as "X percentage of my users are using Chrome". These statistics are, of course, anonymous.
  </p>
  <p>
    When you sign in, I request the permissions "basic" and "stream", which allow me to view your posts through the API, as required for finding your best posts. I do not request permission to view any private information about your account.
  </p>
</div>
