// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: auto;
	width: 60%;
}
